* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', sans-serif;
}

section {
    padding: 30px 10%;
}

img {
    width: 100%;
}

section {    
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
}

*::selection {
    color: #fff;
    background: var(--main-color);
}

header {
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
    width: 100%;
    }

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 120px;
}    

.navbar {
    display: flex;    
}

.navbar a {
    font-size: 1.5rem;
    padding: 11px 20px;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
}

#menu-icon {
    font-size: 50px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}


/* Estilos para la sección de inicio */
.inicio {
    text-align: center;
    margin-top: 140px;
    padding: 50px 50PX;
}

/* Estilos para el título */
.inicio h1 {
    font-size: 4em;
    font-weight: bold;
    line-height: 0.8;
    margin-bottom: 10px; /* Añade un margen inferior al título */
}

/* Estilos para el párrafo de enunciado */
.enunciado {
    font-size: 1.4em;
    font-weight: 400;    
    margin-bottom: 20px; /* Añade un margen inferior al párrafo de enunciado */
}

/* Estilos para el párrafo de explicación */
.explicacion {
    font-size: 1em;
    margin-bottom: 30px; /* Añade un margen inferior más grande al párrafo de explicación */
}




/* Media query para ajustar el tamaño del título en pantallas más grandes */
@media screen and (min-width: 768px) {
    .inicio h1 {
        font-size: 7.5em;
        padding: 10px 10px;
    }
}

.home {
    margin-top: -20px;
    z-index: 800;
}

  .swiper.hero {        
    position: relative;
    transition: transform 0.3s ease; 
    
}

  .swiper-hero img{
    height: 444px;
    width: 250px;
    object-fit: scale-down;
    border-radius: 35px;
   }

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next {
    --swiper-navigation-size: 25px;
    background-color: white;
    color: #8b52ff;
    height: 50px;
    width: 50px;
    border-radius: 9999px;
    margin-top: -35px;
    opacity: 0;
    transition: opacity 0.3s;
}

.swiper-hero:hover .swiper-button-prev,
.swiper-hero:hover .swiper-button-next {
  opacity: 1;
}

.swiper-hero .swiper-pagination {
  --swiper-pagination-color: #8b52ff; 
  --swiper-pagination-bullet-size: 4px;
} 

.swiper .swiper-wrapper .swiper-slide1 {
    width: 250px;
    border-radius: 45px;
} 

   .swiper-hero img {
    margin: 0;
    height: 355px;
    width: 100%;
    object-fit: scale-down;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
    width: 100%;
  }

   /* Productos */


.product {
    position: relative; /* Para posicionar elementos hijos relativos a este contenedor */
}

/* Estilos para la pestaña de descuento */
.discount-tab {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    font-size: 20px;
}

/* Estilos adicionales para el contenedor del producto */
.product {
    position: relative; /* Asegura que la pestaña esté posicionada correctamente */
}


.price {
    display: none; /* Ocultar el precio por defecto */
    position: absolute; /* Posicionar el precio encima del botón de compra */
    top: calc(100% + 5px); /* Colocar el precio justo debajo del botón de compra */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    background-color: rgba(179, 23, 23, 0.8); /* Fondo semi-transparente */
    padding: 5px 10px; /* Espacio alrededor del precio */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Alinear el texto al centro */
    width: fit-content; /* Ajustar el ancho al contenido */
    z-index: 1000; /* Colocar el precio encima del botón */
}

.product:hover .price {
    display: block; /* Mostrar el precio cuando se hace hover en el producto */
}

.buy-btn {
    display: none; /* Ocultar el botón de compra por defecto */
    position: absolute; /* Posicionar el botón encima de la imagen */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar tanto vertical como horizontalmente */
    padding: 10px 20px; /* Espacio alrededor del botón */
    background-color: #8b52ff; /* Fondo semi-transparente */
    color: black; /* Color del texto */
    border: 2px solid black;
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none;
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s;     
}

.product:hover .buy-btn {
    display: block; /* Mostrar el botón de compra cuando se hace hover en el producto */
}

.product img {
    transition: opacity 0.3s ease; /* Transición suave para la opacidad de la imagen */
}

.product:hover img {
    opacity: 0.7; /* Reducir la opacidad de la imagen cuando se hace hover en el producto */
}

.contact-form {
    max-width: 400px;
    margin: 40px auto; /* Centrar verticalmente */
    padding: 20px;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
  }
  
  .contact-form h2 {
    padding: 20px 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group textarea{
    width: 100% ; /* Ancho igual al 100% menos el relleno en ambos lados */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Incluir el relleno en el ancho total */
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="password"]:focus,
  .form-group textarea:focus {
    border-color: blue;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: #8b52ff;; /* Cambiar el color de fondo del botón */
    color: #000000; /* Cambiar el color del texto del botón */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.btn:hover {
    background-color: #fff; /* Cambia el color de fondo al pasar el cursor sobre el botón */
} 
  

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
}


.services {
    display: flex;
    flex-direction: column; /* */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0; 
}

.heading {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.heading span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #7a9175;
}

.heading h1 {
    font-size: 36px;
    margin: 0;
    color: var(--second-color);
}

.servicios-container {    
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente fila */
}

.box {
    
    width: 300px; /* Ancho de cada servicio, ajusta según sea necesario */
    margin: 20px; /* Espaciado entre los elementos, ajusta según sea necesario */
}

.servicios-container .box .box-img img{
    margin-top: 5px;
    width: 100%;
    height: 100%;
    object-fit:cover
   
}

.servicios-container .box .box-img1 img{
    margin-top: 100px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.about {
    display: flex;
    flex-wrap: wrap;
    background: #e0e0e0;
    gap: 1.5rem;
}

.about-img {
    flex: 1 1 17rem;
} 

.about-text {
    flex: 1 1 17rem;
}

.about-text h2 {
    font-size: 1.2rem;
    color: var(--main-color);
}

.about-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.contact {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.social a  {
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx {
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%; 
}

.social a .bx:hover {
    background: #8b52ff;
}

.links {
    margin: 1rem 0 1rem;
}

.links a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
    padding: 1rem;
}

.links a:hover {
    color: #8b52ff;
}

.contact p {
    text-align: center;
}

.whatsapp-button {
    position: fixed;
    bottom: 50px; /* Ajusta la distancia desde la parte inferior */
    right: 50px; /* Ajusta la distancia desde el borde derecho */
    z-index: 999; /* Asegura que esté por encima de otros elementos */
  }
  
  .whatsapp-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #10B981;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .whatsapp-icon img {
    width: 60%;
    height: auto;
  }
  
  .whatsapp-button:hover .whatsapp-icon {
    background-color: #25d366;
    border-color: #059669;
  }
  
  .whatsapp-button:focus .whatsapp-icon {
    outline: none;
    box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.5);
  }
  

@media (max-width: 1150px) {
    header {
        padding: 18px 7%
    }

    section {
        padding: 10px 7%;
    }
    
    .home-text h1 {
        font-size: 3rem;
    }

    .home-text h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 7%
    }

    section {
        padding: 10px 4%;
    }
        
}

@media (max-width: 768px) {
    header {
        padding: 20px 4%
    }
   #menu-icon {
     display: initial;
   }
    header .navbar{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex ;
        flex-direction: column;
        background:white;
        box-shadow: 0 4px 4px rgb(14, 55, 55 / 14%);
        border-top: 1px solid rgba(17, 27, 33, .4);
        transition: 0.2s;
        overflow-y: auto;
        flex-direction: column;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        font-size: 70px;
        padding: 2.5rem;
        display: block;
        color:black;
        line-height: 60px;
        border-bottom: 1px solid rgba(17, 27, 33, .4);
    }
    .navbar a:hover {
        padding: 1.5rem;
        display: block;
        color:#8b52ff;
    }

    .home-text span {
        font-size: 0.9rem;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .home-text h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .home-text {
        padding-top: inherit
    }
}