* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', sans-serif;
}

section {
    padding: 30px 10%;
}

img {
    width: 100%;
}

section {
    
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
}

*::selection {
    color: #fff;
    background: var(--main-color);
}

header {
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
    width: 100%;
    }

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 120px;
}    

.navbar {
    display: flex;    
}

.navbar a {
    font-size: 1.5rem;
    padding: 11px 20px;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
}

#menu-icon {
    font-size: 50px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}


.inicio {
    margin: 0;
    padding: 0;
    margin-top: 90px;   
}

 .swiper2 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1600px;
  }

  .swiper2 img {
    height: 265px;
    width: 100%;
    object-fit: cover;
  }

  .swiper2 .swiper-button-prev,
  .swiper2 .swiper-button-next {
    --swiper-navigation-size: 20px;
    background-color: #fff;
    height: 70px;
    width: 50px;
    margin-top: -75px;
    opacity: 0;
} 

.swiper2 .swiper-button-prev {
    border-radius: 65px;
    left: -10px;
}

.swiper2 .swiper-button-next {
    border-radius: 65px;
    right: -10px;
}

.swiper2:hover .swiper-button-prev,
.swiper2:hover .swiper-button-next {
    opacity: 1;
}

.home {
    margin-top: -20px;
    z-index: 800;
}

  .swiper.hero {        
    position: relative;
    transition: transform 0.3s ease; 
    
}

  .swiper-hero img{
    height: 444px;
    width: 250px;
    object-fit: scale-down;
    border-radius: 35px;
   }

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next {
    --swiper-navigation-size: 25px;
    background-color: white;
    color: #8b52ff;
    height: 50px;
    width: 50px;
    border-radius: 9999px;
    margin-top: -35px;
    opacity: 0;
    transition: opacity 0.3s;
}

.swiper-hero:hover .swiper-button-prev,
.swiper-hero:hover .swiper-button-next {
  opacity: 1;
}

.swiper-hero .swiper-pagination {
  --swiper-pagination-color: #8b52ff; 
  --swiper-pagination-bullet-size: 4px;
} 

.swiper .swiper-wrapper .swiper-slide1 {
    width: 250px;
    border-radius: 45px;
} 

   .swiper-hero img {
    margin: 0;
    height: 355px;
    width: 100%;
    object-fit: scale-down;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
    width: 100%;
  }
/*
  .swiper-hero2 {
    width: 100%;
    height: 355px;
    max-width: 1900px;
  }

   */ 
    

/* .home-text {
    flex: 1 1 17rem;
}

.home-img {
    flex: 1 1 17rem;
}

.home-text span {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}

.home-text h1 {
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}

.home-text h2 {
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
} */


.btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 600;
}

.btn:hover {
    color: #fff;
    background: var(--main-color);
}

.services {
    display: flex;
    flex-direction: column; /* */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0; 
}

.heading {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.heading span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #7a9175;
}

.heading h1 {
    font-size: 36px;
    margin: 0;
    color: var(--second-color);
}

.servicios-container {    
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente fila */
}

.box {
    
    width: 300px; /* Ancho de cada servicio, ajusta según sea necesario */
    margin: 20px; /* Espaciado entre los elementos, ajusta según sea necesario */
}

.hearts {
    margin: 1rem 0 0.1rem;
}

.servicios-container .box .hearts .bx {
    color: yellow;
}

.servicios-container .box .box-img img{
    margin-top: 70px;
    width: 100%;
    height: 100%;
    object-fit:cover
   
}

.servicios-container .box .box-img1 img{
    margin-top: 100px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.box .btn-1 {
    margin-top: 10px; /* Agrega espacio sobre el botón */
    display: inline-block; /* Hace que el botón respete los márgenes */
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 16px;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    color: var(--main-color);
    font-weight: 600;
}

.btn:hover {
    background-color: var(--main-color);
}

.btn-1:hover {
    background-color: var(--main-color);
    color:#fff;
}

.about {
    display: flex;
    flex-wrap: wrap;
    background: #e0e0e0;
    gap: 1.5rem;
}

.about-img {
    flex: 1 1 17rem;
} 

.about-text {
    flex: 1 1 17rem;
}

.about-text h2 {
    font-size: 1.2rem;
    color: var(--main-color);
}

.about-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.contact {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.social a  {
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx {
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%; 
}

.social a .bx:hover {
    background: #8b52ff;
}

.links {
    margin: 1rem 0 1rem;
}

.links a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
    padding: 1rem;
}

.links a:hover {
    color: #8b52ff;
}

.contact p {
    text-align: center;
}


@media (max-width: 1150px) {
    header {
        padding: 18px 7%
    }

    section {
        padding: 10px 7%;
    }
    
    .home-text h1 {
        font-size: 3rem;
    }

    .home-text h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 7%
    }

    section {
        padding: 10px 4%;
    }
        
}

@media (max-width: 768px) {
    header {
        padding: 20px 4%
    }
   #menu-icon {
     display: initial;
   }
    header .navbar{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex ;
        flex-direction: column;
        background:white;
        box-shadow: 0 4px 4px rgb(14, 55, 55 / 14%);
        border-top: 1px solid rgba(17, 27, 33, .4);
        transition: 0.2s;
        overflow-y: auto;
        flex-direction: column;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        font-size: 70px;
        padding: 2.5rem;
        display: block;
        color:black;
        line-height: 60px;
        border-bottom: 1px solid rgba(17, 27, 33, .4);
    }
    .navbar a:hover {
        padding: 1.5rem;
        display: block;
        color:#8b52ff;
    }

    .home-text span {
        font-size: 0.9rem;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .home-text h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .home-text {
        padding-top: inherit
    }
}