* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', sans-serif;
}

section {
    padding: 30px 10%;
}

img {
    width: 100%;
}

section {    
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
}

*::selection {
    color: #fff;
    background: #000000;
}

header {
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
    width: 100%;
    }

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    width: 120px;
}    

.navbar {
    display: flex;    
    overflow-y: auto;
    max-height: 700px;
}

.navbar a {
    font-size: 1.5rem;
    padding: 11px 20px;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
}

#menu-icon {
    font-size: 50px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}


/* Estilos para la sección de inicio */
.inicio {
    text-align: center;
    margin-top: 140px;
    padding: 50px 50PX;
}

/* Estilos para el título */
.inicio h1 {
    font-size: 4em;
    font-weight: bold;
    line-height: 0.8;
    margin-bottom: 10px; /* Añade un margen inferior al título */
}

/* Estilos para el párrafo de enunciado */
.enunciado {
    font-size: 1.4em;
    font-weight: 400;    
    margin-bottom: 20px; /* Añade un margen inferior al párrafo de enunciado */
}

/* Estilos para el párrafo de explicación */
.explicacion {
    font-size: 1em;
    margin-bottom: 30px; /* Añade un margen inferior más grande al párrafo de explicación */
}
/* Media query para ajustar el tamaño del título en pantallas más grandes */
@media screen and (min-width: 768px) {
    .inicio h1 {
        font-size: 7.5em;
        padding: 10px 10px;
    }
    .navbar {
        overflow-y: hidden; /* Eliminar el desplazamiento vertical */
    }
}

.home {
    height: 10px;
    width: 100%;
    z-index: 0;
}
  
/* Estilos para los botones de navegación */
.swiper-hero-1 .swiper-button-prev,
.swiper-hero-1 .swiper-button-next {
    --swiper-navigation-size: 25px;
    background-color: white;
    color: #8b52ff;
    height: 40px; /* Reducir la altura de los botones */
    width: 40px; /* Reducir el ancho de los botones */
    border-radius: 50%; /* Hacer los botones circulares */
    margin-top: -20px; /* Ajustar la posición vertical */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Mostrar los botones de navegación al hacer hover */
.swiper-hero-1:hover .swiper-button-prev,
.swiper-hero-1:hover .swiper-button-next {
  opacity: 1;
}

/* Estilos para la sección del carrusel */
.swiper-hero-1 {
    margin-top: 50px; /* Ajustar el margen superior según sea necesario */
}

/* Estilos para las imágenes dentro del carrusel */
/* Estilos para las imágenes dentro del carrusel */
.swiper-hero-1 img {
    width: 100%; /* Las imágenes ocuparán el ancho completo del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    border-radius: 50%; /* Hacer las imágenes circulares */
}

/* Aumentar el tamaño de las imágenes en dispositivos móviles */
@media screen and (max-width: 768px) {
    .swiper-hero-1 img {
        width: 200px; /* Ajustar el ancho de las imágenes en dispositivos móviles */
        height: 200px; /* Ajustar la altura de las imágenes en dispositivos móviles */
    }
}

/* Aumentar el tamaño del contenedor del carrusel en dispositivos móviles */
@media screen and (max-width: 768px) {
    .swiper-hero-1 {
        margin-top: -70px; /* Ajustar el margen superior en dispositivos móviles */
        width: 100%; /* Ajustar el ancho del contenedor del carrusel en dispositivos móviles */
    }
}


/* Aumentar el espacio entre las imágenes y los bordes del contenedor */
.swiper-hero-1 .swiper-wrapper {
    padding: 20px 20px; /* Ajustar el espacio horizontal */
}

.home1 {
    margin-top: -150px;
    z-index: 800;
}

  .swiper-hero-2 img {
    margin: 0;
    height: 355px;
    width: 100%;
    object-fit: scale-down;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
    width: 100%;
  }

   /* Productos */
.product {
    position: relative; /* Para posicionar elementos hijos relativos a este contenedor */
}

/* Estilos para la pestaña de descuento */
.discount-tab {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    font-size: 20px;
}

/* Estilos adicionales para el contenedor del producto */
.product {
    position: relative; /* Asegura que la pestaña esté posicionada correctamente */
}


.price {
    display: none; /* Ocultar el precio por defecto */
    position: absolute; /* Posicionar el precio encima del botón de compra */
    top: calc(100% + 5px); /* Colocar el precio justo debajo del botón de compra */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    background-color: rgba(179, 23, 23, 0.8); /* Fondo semi-transparente */
    padding: 5px 10px; /* Espacio alrededor del precio */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Alinear el texto al centro */
    width: fit-content; /* Ajustar el ancho al contenido */
    z-index: 1000; /* Colocar el precio encima del botón */
}

.product:hover .price {
    display: block; /* Mostrar el precio cuando se hace hover en el producto */
}

.buy-btn {
    display: none; /* Ocultar el botón de compra por defecto */
    position: absolute; /* Posicionar el botón encima de la imagen */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar tanto vertical como horizontalmente */
    padding: 10px 20px; /* Espacio alrededor del botón */
    background-color: #8b52ff; /* Fondo semi-transparente */
    color: black; /* Color del texto */
    border: 2px solid black;
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none;
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s;     
}

.product:hover .buy-btn {
    display: block; /* Mostrar el botón de compra cuando se hace hover en el producto */
}

.product img {
    transition: opacity 0.3s ease; /* Transición suave para la opacidad de la imagen */
}

.product:hover img {
    opacity: 0.7; /* Reducir la opacidad de la imagen cuando se hace hover en el producto */
}

/* Estilos para cada producto */
.product1 img {
    width: 200px; /* Tamaño específico para la imagen */
    height: 200px; /* Tamaño específico para la imagen */
    object-fit: cover; /* La imagen cubrirá todo el contenedor manteniendo la proporción */
    border-radius: 50%; /* Hace la imagen circular */
    transition: transform 0.3s ease; /* Transición suave para el efecto hover */
  }
  
  /* Efecto hover para las imágenes */
  .product1 img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al hacer hover */
  }
  
  /* Estilos específicos para dispositivos pequeños */
  @media screen and (max-width: 768px) {
    .product1 img {
      width: 100px; /* Reducir el ancho de la imagen en dispositivos pequeños */
      height: 100px; /* Reducir la altura de la imagen en dispositivos pequeños */
    }
  }

   /* testimonios */
   .testimonial-section {
    text-align: center;
  }
  
  /* Contenedor principal para los testimonios */
.testimonials-container {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Evita que los testimonios se envuelvan a la siguiente línea */
    padding: 20px; /* Ajusta el espacio alrededor de los testimonios */
  }
  
  /* Estilos para cada testimonio */
  .testimonial {
    display: inline-block; /* Permite que los testimonios se muestren en línea */
    vertical-align: top; /* Alinea los testimonios en la parte superior */
    margin-right: 20px; /* Espacio entre testimonios */
    max-width: 300px; /* Ancho máximo de cada testimonio */
  }
  
  .testimonial img {
    width: 100px; /* Tamaño de la imagen del cliente */
    height: 100px;
    border-radius: 50%; /* Para que la imagen sea circular */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .testimonial p {
    margin-bottom: 5px; /* Espacio entre el texto y la cita */
  }
  
  .testimonial cite {
    font-style: normal; /* Asegura que la cita esté en estilo normal */
  }
  
  @media screen and (max-width: 768px) {
    /* Cambiar el ancho máximo de los testimonios para dispositivos móviles */
    .testimonial {
      max-width: 100%; /* Ancho máximo del testimonio para ocupar todo el ancho de la pantalla */
      margin-right: 0; /* Eliminar el margen derecho en dispositivos móviles */
      margin-bottom: 20px; /* Agregar margen inferior entre testimonios en dispositivos móviles */
    }
  }
  
  
 /* Formulario */

.contact-form {
    max-width: 400px;
    margin: 40px auto; /* Centrar verticalmente */
    padding: 20px;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
  }
  
  .contact-form h2 {
    padding: 20px 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group textarea{
    width: 100% ; /* Ancho igual al 100% menos el relleno en ambos lados */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Incluir el relleno en el ancho total */
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="password"]:focus,
  .form-group textarea:focus {
    border-color: blue;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: #8b52ff;; /* Cambiar el color de fondo del botón */
    color: #000000; /* Cambiar el color del texto del botón */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.btn:hover {
    background-color: #fff; /* Cambia el color de fondo al pasar el cursor sobre el botón */
} 
  
.video-player {
    background-color: #ccc;
    margin-top: 20px; /* Margen superior */
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
    width: 100%; /* Ancho del video al 100% */
    min-width: 0; /* Ancho mínimo */
    border-radius: 10px; /* Bordes redondeados */
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
}


.services {
    display: flex;
    flex-direction: column; /* */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0; 
}

.heading {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.heading span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #a1a3a1;
}

.heading h1 {
    font-size: 36px;
    margin: 0;
    color: var(--second-color);
}

.servicios-container {    
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente fila */
}

.box {
    
    width: 300px; /* Ancho de cada servicio, ajusta según sea necesario */
    margin: 20px; /* Espaciado entre los elementos, ajusta según sea necesario */
}

.servicios-container .box .box-img img{
    margin-top: 5px;
    width: 100%;
    height: 100%;
    object-fit:cover
   
}

.servicios-container .box .box-img1 img{
    margin-top: 100px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.about {
    display: flex;
    flex-wrap: wrap;
    background: #f8f8f8;
    gap: 1.5rem;
}

.about-img {
    flex: 1 1 17rem;
} 

.about-text {
    flex: 1 1 17rem;
}

.about-text h2 {
    font-size: 1.2rem;
    color: var(--main-color);
}

.about-text p {
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.contact {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.social a  {
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx {
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%; 
}

.social a .bx:hover {
    background: #8b52ff;
}

.links {
    margin: 1rem 0 1rem;
}

.links a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
    padding: 1rem;
}

.links a:hover {
    color: #8b52ff;
}

.contact p {
    text-align: center;
}

.whatsapp-button {
    position: fixed;
    bottom: 50px; /* Ajusta la distancia desde la parte inferior */
    right: 50px; /* Ajusta la distancia desde el borde derecho */
    z-index: 999; /* Asegura que esté por encima de otros elementos */
  }
  
  .whatsapp-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #10B981;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .whatsapp-icon img {
    width: 60%;
    height: auto;
  }
  
  .whatsapp-button:hover .whatsapp-icon {
    background-color: #25d366;
    border-color: #059669;
  }
  
  .whatsapp-button:focus .whatsapp-icon {
    outline: none;
    box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.5);
  }
  
/* Estilos para el modal */
/* Estilos para el modal */
.modal {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; /* Ancho máximo del modal */
    border-radius: 10px;
}

/* Estilos para el botón de aceptar */
#acceptBtn {
    background-color: #8b52ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#acceptBtn:hover {
    background-color: #6c33cc;
}

/* Estilos para el botón de cerrar (la "X") */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

/* Media query para dispositivos móviles  MODAL */
@media (max-width: 768px) {
    .modal-content {
        margin: 15% auto; /* Ajustar el margen para dispositivos móviles */
        padding: 20px;
        width: 90%;
    }

    #acceptBtn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .close {
        font-size: 24px;
    }
}

/* MODAL */

@media (max-width: 1150px) {
    header {
        padding: 18px 7%
    }

    section {
        padding: 10px 7%;
    }
    
    .home-text h1 {
        font-size: 3rem;
    }

    .home-text h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 18px 7%
    }

    section {
        padding: 10px 4%;
    }
        
}

@media (max-width: 768px) {
    header {
        padding: 20px 4%
    }
   #menu-icon {
     display: initial;
   }
    header .navbar{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex ;
        flex-direction: column;
        background:white;
        box-shadow: 0 4px 4px rgb(14, 55, 55 / 14%);
        border-top: 1px solid rgba(17, 27, 33, .4);
        transition: 0.2s;
        overflow-y: auto;
        flex-direction: column;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a {
        font-size: 70px;
        padding: 2.5rem;
        display: block;
        color:black;
        line-height: 60px;
        border-bottom: 1px solid rgba(17, 27, 33, .4);
    }
    .navbar a:hover {
        padding: 1.5rem;
        display: block;
        color:#8b52ff;
    }

    .home-text span {
        font-size: 0.9rem;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }

    .home-text h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .home-text {
        padding-top: inherit
    }
}